/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    /* font-family: 'Inter', sans-serif; */

}

.fixed_width {
    width: 1320px;
    margin: 0 auto;
}

.centered_text {
    text-align: center;
}

.join_now_btn {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: 0;
    padding: 16px 32px;
    margin-top: 40px;
    cursor: pointer;

}

.join_now_btn a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
}


/* shared styles end */
/* header section styles */
.header {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/images/banner-image.png');
    background-repeat: no-repeat;
    color: #FFF;
    margin: 30px auto 120px;
    border-radius: 16px;
}

.header_content {
    padding: 170px 350px;
}

.header_title {
    font-size: 32px;
}

.header_content h1 {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* offer section styles */
.offer_section {
    text-transform: uppercase;
    margin-bottom: 120px;
}

.off_text {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 45px;
}

.offer_section .holiday_deals_text {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.offer_section .category_text {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.offer_section img {
    width: 800px;
    height: 500px;
    margin-top: 45px;
}

/* welcome section styles */
.welcome_section {
    margin-bottom: 120px;
}

.welcome_container {
    height: 600px;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../resources/images/vector.png");
    background-repeat: no-repeat;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 120px;
    border-radius: 16px;
}

.welcome_text h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
}

.welcome_text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


/* party info section styles */
.party_info {
    margin-bottom: 120px;
}

.party_info_container {
    padding: 120px;
    width: 1320px;
    height: 600px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.party_info h3 {
    color: rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.party_info_name {
    color: #F00;
}

.party_info .join_now_btn {
    border-radius: 8px;
    background: #F00;
}

/* coming soon section */
.coming_soon_section {
    margin-bottom: 120px;
}

.coming_soon_container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.coming_soon_column {
    width: 30%;
}

.coming_soon_content h3 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.coming_soon_content h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.coming_soon_content p,
.coming_soon_year p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.coming_soon_img {
    border: 10px solid #F00;
    border-radius: 50%;
    padding: 10px;
}

.coming_soon_year h3 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.coming_soon_year img {
    margin-top: 40px;
}

/* Holiday sale price offer section styles */
.sale_offer_section {
    margin-bottom: 120px;
}

.sale_offer_container {
    background-image: url("../resources/images/rectangle_two.png");
    background-repeat: no-repeat;
    background-position:left bottom;
    position: relative;
    
}

.sale_offer_content {
    width: 70%;
    margin: 20px auto 50px;
}

.sale_offer_content h3 {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.sale_offer_content h1 {
    font-size: 72px;
    font-weight: 900;
}

.sale_offer_content span {
    color: #F00;
}

.sale_offer_content p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.sale_offer_img {
    display: flex;
    justify-content: space-between;
}

.sale_offer_img .img_two {
    position: absolute;
    right: 0px;
    bottom: 229px;

}
.discount_img{
    position: absolute;
    right: 280px;
    bottom: 300px;
}

/* portfolio section design */
.portfolio_section {
    margin-bottom: 120px;
}

.portfolio_container h3 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.portfolio_container h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 100px;

}

.portfolio_container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
}

.portfolio_container .portfolio_img {
    margin-top: 25px;
    display: flex;
    gap: 25px;
}

.portfolio_img img {
    border-radius: 16px;
    background: lightgray -195.366px 0px / 156.077% 100% no-repeat;
    transition: all 1s;
}

.portfolio_img img:hover {
    border: 3px solid #F00;
    transform: scale(1.2);
    cursor: pointer;
}

/* Subscribe letter section style */
.letter_section {
    margin-bottom: 120px;

}

.letter_container {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 120px;
}

.letter_container h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.letter_container p {
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.letter_input {
    margin-top: 40px;
}

.letter_input input[type="text"] {
    width: 650px;
    height: 70px;
    border: none;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    padding-left: 20px;
}

.letter_input input[type="submit"] {
    border: none;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    width: 210px;
    height: 70px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    cursor: pointer;

}
/* footer section styles */
.footer_section{
    width: 100%;
    background: #070211;
}
.contact_section{
    padding: 120px;
}
.contact_section .web_info, .footer_text{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.web_info .address, .web_info .number_web, .footer_text{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.number_web a, .footer_text a{
    text-decoration: none;
    color: #FFF;
    margin-left: 10px;
}
.social_links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px;
    cursor: pointer;
}
/* .footer_text{
    display: flex;
    justify-content: space-between;

} */
